body {
    background-color: whitesmoke;
    height: auto;
    width: 1200px;
}
h1 {
    text-align: center;
}
.titrecv {
    background-color: rgb(96, 96, 192);
    padding: 1em;
}
.gauchecv {
    background-color: rgb(144, 248, 243);
    padding: 1em;
    width: 35%;
}
.droitecv {
    background-color: white;
    padding: 1em;
    width: 65%;
}
.corpscv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.date {
    font-style: italic;
    font-size: 0.9em;
}
.soustitre {
    font-style: oblique;
    text-decoration: underline;
}
